/*Our site wide classes*/

.hidden__item {
  display: none;
}
.no-padding {
  padding: 0px;
}
.hidden__section {
  display: none;
}
.pc-full-width {
  width: 100%!important;
}

#real_tags .badge {
  margin-top: 2px;
}

.h1 {
  font-size: 36px;
}

.pc-font-1 {
  font-size: 10px!important;
}
.pc-font-1_5 {
  font-size: 15px!important;
}
.pc-font-1_6 {
  font-size: 16px!important;
}
.pc-font-2 {
  font-size: 20px!important;
}
.pc-font-3 {
  font-size: 30px!important;
}
.pc-font-4 {
  font-size: 40px!important;
}
.pc-font-5 {
  font-size: 50px!important;
}
.pc-shadow-1 {
  text-shadow: 1px 2px 3px black;
}
.pc-font-sm {
  font-size: 1rem;
}
.pc-font-md {
  font-size: 2rem;
}
.pc-font-lg {
  font-size: 3rem !important;
}
.pc-hover-1:hover {
  text-shadow: 1px 2px 5px black;
}

.red {
  color: #fc615c !important;
}
.red.hover:hover {
  color: #fb302a !important;
}
.pc-bg-red {
  background: #fb302a !important;
  color: #fff !important;
  border: 1px solid #f24646 !important;
}
.pc-bg-red.hover:hover {
  background: #fc615c!important;
  border: 1px solid #df90bc !important;
}
.yellow {
  color: #fdbe41 !important;
}
.yellow:hover {
  color: #fcad0f !important;
}
.orange {
  background: #d7881e !important;
  color: #fff !important;
  border: 1px solid #d08014 !important;
}
.orange.hover:hover {
  background: #e69a34 !important;
  border: 1px solid #df9026 !important;
}
.green {
  color: #34c94a !important;
}
.green:hover {
  color: #2aa03b !important;
}
.low-blood {
  color: #fdddd6 !important;
}
.low-blood.hover:hover {
  color: #f4c8c8 !important;
}
.pointer {
  cursor: pointer;
}
button {
  border-radius: 5px;
  border: none;
  padding: 3px 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

.button-red {
  background: #e61010;
  color: white;
  border: 1px solid #e61010;
}
.button-red:disabled {
  opacity: 0.5;
}

.button-red:hover {
  background: #ea3636;
}
.button-white {
  background: #f5f5f5;
  color: #2b2b2b;
  border: 1px solid #dedede;
}
.button-white:disabled {
  opacity: 0.5;
}
.button-white:hover {
  background: #ccc;
}
.button-dark {
  background: #1ed760;
  color: white;
  border: 1px solid #1ed760;
}
.button-dark:disabled {
  opacity: 0.5;
}
.button-dark:hover {
  background: #43e57d;
}
.button-light {
  background: none;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
}
.button-light:disabled {
  opacity: 0.5;
}
.button-light:hover {
  border-color: #9c9d9e;
  color: #9c9d9e;
}
button:hover {
  cursor: pointer;
}

.pc-orange {
  color: #f50;
}
.pc-green {
  color: #43e57d;
}

.pc-type-small {
  font-size: 14px;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
}
.pc-font-tabular {
  font-family: "InterstateSound Tnum", "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.pc-type-light {
  font-weight: 400;
  color: #999;
}
.pc-text-verylight {
  color: #ccc;
}
.pc-border-light-right {
  border-right: 1px solid #515151;
}
.pc-border-light-bottom {
  border-bottom: 1px solid #515151;
}
.pc-list-nostyle {
  list-style: none;
  margin: 0;
}

.g-all-transitions-200-linear {
  transition: all 200ms linear;
}

a.pc-link-light {
  color: #a1a5a5;
}
a.pc-link-light:hover {
  color: #c6c6c6;
}
a.pc-link-dark {
  color: #333;
}
a.pc-link-dark:hover, a.pc-link-medium:hover {
  color: #fff;
}

.pc-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
}
.pc-ministats-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}
.pc-ministats-group {
  list-style: none;
}
.pc-ministats-group .pc-ministats-small {
  margin-right: 9px;
}
.pc-ministats-group .pc-ministats {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 13px;
}
.pc-ministats-group > .pc-ministats-item:last-child .pc-ministats {
  margin-right: 0;
}

a.pc-ministats {
  color: #999;
}
.pc-ministats-small {
  color: #999;
  font-size: 11px;
  line-height: 12px;
}
.pc-ministats-custom {
  color: #ebebee !important; 
  font-size: 18px; 
  cursor: pointer;
}
.pc-ministats-custom i {
  color: #ebebee; 
  font-size: 20px !important; 
}
.pc-ministats-custom:hover {
  color:#d2d2d2 !important;
}
.pc-ministats-custom i:hover {
  color: #d2d2d2;
}
.pc-ministats-custom:hover i {
  color: #d2d2d2;
}
.pc-ministats {
  display: inline-block;
  font-family: "InterstateSound Tnum","Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  color: #999;
}
.pc-ministats i {
  font-size: 16px;
}
.pc-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.overview__related {
  border-left: 1px solid #515151; padding-left: 5px;
}
.overview__border {
  border-left: 1px solid #515151; padding-left: 5px;
}
@media (max-width: 768px) {
  .overview__border {
    display: none !important;
  }
}
.g-flex-row-centered-spread {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

}
.g-flex-row-centered-right, .g-flex-row-centered-spread {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.g-flex-row-centered, .g-flex-row-centered-justify-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/*Our site wide classes ends here*/

/*Side bar statistics class goes here*/
.statsBadge__recent {
  width: 100%;
  margin: 10px 0 0 0;
}
.statsBadge__title, .statsBadge__value {
  width: 50%;
  text-align: left;
}
.statsBadge__title:last-child, .statsBadge__value:last-child {
  text-align: right;
}
.sidebar-stats__container {
  min-height: 99px;
  padding-top: 5px;
}
.statsBadge__value {
  font-size: 32px;
  line-height: 1em;
}
.statsBadge__total {
  margin: 15px 0 0 0;
}
.sidebarModule {
  margin-bottom: 20px;
}
.sidebarHeader {
  height: 30px;
}
.sidebarHeader__title {
  line-height: 24px;
}
.sidebarHeader__more {
  font-weight: 100;
  margin-top: 0;
}
.sidebarContent {
  padding-top: 5px;
}
.whoToFollowModule .pc-link-light:hover .sidebarHeader__more {
  opacity: 1;
}
.userSuggestionList__item {
  padding: 10px 0;
}
.userSuggestionList__extra {
  margin-right: 4px !important;
  padding: 10px !important;
  background-color: #282828;
  border-radius: 10px;
}
.userSuggestionList__extra:hover { 
  background-color: #515151; 
}
/*Side bar statistics class ends here*/

/*User badge section*/
.userBadge {
  position: relative;
  min-height: 50px;
}
.userBadge.m-horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.userBadge.m-horizontal .userBadge__avatar {
  margin-right: 10px;
}
.userAvatarBadge {
  position: relative;
}
.g-avatar-badge, .g-avatar-badge-body, .g-avatar-badge-avatar {
  height: 100%;
}
.g-avatar-badge {
  position: relative;
  word-wrap: break-word;
}
.g-avatar-badge-avatar-link {
  display: block;
  color: #999;
  height: 100%;
}
.g-opacity-transition {
  transition: opacity .2s linear;
}
.image__rounded.m-loaded.pc-artwork {
  background: 0 0;
}
.pc-artwork.pc-artwork-placeholder-7 {
  background-image: linear-gradient(135deg,#e6846e,#70929c);
}
.pc-artwork.pc-artwork-placeholder-8 {
  background-image: linear-gradient(135deg,#e6846e,#8e8485);
}
.image__rounded {
  border-radius: 50%;
}
.image__full, .image {
  text-align: center;
  position: relative;
  background-repeat: no-repeat;
}
.pc-artwork {
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block; 
  align-items: center;
}
.pc-artwork i {
  color: white;
  font-size: 35px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.5s ease;
  text-shadow: 1px 5px 15px #181818;
}
.pc-artwork i:hover {
  cursor: pointer;
}
.pc-artwork:hover i {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.image__lightOutline .image__full {
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}
.userBadge.m-horizontal .userBadge__content {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pc-media, .pc-media-content, .pc-media-body {
  overflow: hidden;
}
.userBadge.m-horizontal .userBadge__title {
  white-space: nowrap;
}
.userBadge__title {
  margin: 6px 0 0 0;
}
.userBadge.m-horizontal .userBadge__usernameLink {
  float: left;
  max-width: 100%;
  box-sizing: border-box;
  margin-right: 3px;
}
.userBadge.m-horizontal .userBadge__meta {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.userBadge.m-horizontal .userBadge__stats {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.userBadge.m-horizontal .userBadge__actions {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.verifiedUserBadge {
  position: relative;
}
.verifiedUserBadge:after {
  font-family: "Ionicons";
  content: "";
  position: absolute;
  bottom: 1px;
  right: 1px;
  color: white;
  background: #4688d7;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}
/*User badge section ends here*/

/*Sidebar Likes section*/
.soundBadgeList.compact .soundBadgeList__item {
  padding: 5px 0;
}
.soundBadge.compact {
  padding: 0;
  left: -6px;
  margin-right: -6px;
}
.soundBadge {
  position: relative;
  min-height: 60px;
  padding: 5px 10px;
  border-radius: 4px;
}
.soundBadge__artwork {
  display: inline-block;
  background: center center/contain no-repeat;
  margin-right: 4px;
  padding: 5px 6px;
  width: 50px;
  height: 50px;
  position: relative;
}
.soundBadge .soundTitle__username {
  line-height: 1;
  margin: 0 0 2px;
}
.soundBadge .soundTitle__title {
  height: 1.3em;
  float: left;
}
.pc-media-image, .pc-media-left {
  float: left;
  margin-right: 10px;
}
.pc-media, .pc-media-content, .pc-media-body {
  overflow: hidden;
}
.pc-clearfix::before, .pc-clearfix::after {
  content: "";
  display: table;
}
.pc-clearfix::after {
  clear: both;
} 
.soundTitle__titleContainer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.soundTitle__usernameTitleContainer {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 0;
}
.soundTitle__title .pc-truncate {
  display: block;
}
.soundTitle__additionalContainer {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 5px;
  text-align: right;
}
.pc-ministats-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
}
/*Sidebar likes section ends*/

/* Custom Navigation bar black*/
.custom-navigation {
  margin-bottom: 10px;
  border-bottom: solid 1px #515151;
}

.custom-navigation .navbar {
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}

.custom-navigation .navbar li a, .custom-navigation .navbar .navbar-brand {
  color: #d5d5d5 !important;
}
 
.custom-navigation .navbar-nav li a:hover {
  color: #fff !important;
}
 
.custom-navigation .navbar-nav li.active a {
  color: #fff !important;
  background-color:#29292c !important;
}
 
.custom-navigation .navbar-default .navbar-toggle {
  border-color: transparent;
}
 
.custom-navigation .open .dropdown-toggle {
  color: #fff ;
  background-color: #555 !important;
}
 
.custom-navigation .dropdown-menu li a {
  color: #000 !important;
}

.custom-navigation .dropdown-menu li a:hover {
  background-color: red !important;
}
/* Custom Navigation bar black ends here */


/* Custom Navigation bar for management */
.manage-navbar .navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.manage-navbar .navbar li a, .manage-navbar .navbar .navbar-brand {
  color: #fff !important;
}

.manage-navbar .navbar-nav li a:hover, .manage-navbar .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.manage-navbar .navbar-default .navbar-toggle, .manage-navbar .navbar-inverse .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
} 

/* Custom Navigation bar for management ends here */

 
/*Horizontal scrollable*/
.scrollable-container {
  /*width: 600px !important;*/
  width: 100%; 
  background-color: #282828;
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  /* overflow-x: scroll; */
}
.cardet {
  background-color: #282828;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  overflow-x: auto;
}
.cardet::-webkit-scrollbar {
  display: none;
}
.card--content {
  margin: 5px; 
  min-height: 200px; 
  width: 200px;
}
.card--content_image {
  /*background-image: url(http://passcolabs.te/uploads/photos/yonas.jpg);*/
  background-color: #181818;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 200px;
  min-height: 200px;
  align-items: center;
  display: flex;
}
.card--content_image i {
  color: white;
  font-size: 72px;
  margin: 0 auto;
  opacity: 1;
  transition: all 0.5s ease;
  text-shadow: 1px 5px 15px #181818;
}
.card--content_image i:hover {
  cursor: pointer;
}
.card--content_image:hover i {
  opacity: 0.5;
  transition: all 0.5s ease;
}
.card--content__footer {
  display: block;
  margin-top: 5px;
  padding: 2px
}
/*Horizontal scrollable ends here*/

.intro-header-title {
  color: #979ca5;
}

/*Twitter Card*/

.hoverable-card {
  /*position: absolute;*/
  z-index: 999;
}

.hoverable-card.hidden {
  display: none;
}

.pc-card__div {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e1e8ed;
  border-radius: 6px;
  height: 170px;
  max-width: 290px;
  z-index: 999;
}
.pc-card__bg {
  background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
  background-position: 0 50%;
  background-size: 100% auto;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 4px 4px 0 0;
  height: 70px;
  width: 100%;
}
.pc-card__block {
    display: block !important;
}
.pc-card__button {
  margin: -25px -15px 0;
  text-align: right;
  width: 100%;
}
.pc-card__avatarLink {
  background-color: #fff;
  border-radius: 49%;
  display: inline-block !important;
  float: left;
  margin: -30px 5px 0 8px;
  max-width: 100%;
  padding: 1px;
  vertical-align: bottom;
}
.pc-card__avatarImg {
  border: 2px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  height: 72px;
  width: 72px;
}
.pc-card__divUser {
  margin: 5px 0 0;
}
.pc-card__divName {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.pc-card__divName a {
  color: inherit !important;
}
.pc-card__divStats {
  margin-left: 11px;
  padding: 5px 0;
}
.pc-card__Arrange {
  box-sizing: border-box;
  display: table;
  margin: 0;
  min-width: 100%;
  padding: 0;
  table-layout: auto;
}
ul.pc-card__Arrange {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.pc-card__ArrangeSizeFit {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
.pc-card__ArrangeSizeFit a:hover {
  text-decoration: none;
}
.pc-card__StatValue {
  display: block;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.15s ease-in-out 0s;
}
.pc-card__StatLabel {
  color: #8899a6;
  font-size: 10px;
  letter-spacing: 0.02em;
  overflow: hidden;
  text-transform: uppercase;
  transition: color 0.15s ease-in-out 0s;
}

/*Extra colors*/
.bg-aqua, .callout.callout-primary, .label-aqua, .modal-aqua .modal-body {
  background-color: #00c0ef !important;
}
.bg-green, .callout.callout-success, .label-green, .modal-green .modal-body {
  background-color: #00a65a !important;
}
.bg-yellow, .callout.callout-warning, .label-yellow, .modal-yellow .modal-body {
  background-color: #f39c12 !important;
}
.bg-red, .callout.callout-danger, .label-danger, .modal-red .modal-body {
  background-color: #dd4b39 !important;
}
.bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success {
  color: #fff !important;
}
.box.box-primary {
  border-top-color: #3c8dbc;
}
.box.box-info {
  border-top-color: #00c0ef;
}
.box.box-danger {
  border-top-color: #dd4b39;
}
.box.box-success {
  border-top-color: #00a65a;
}

/*Distribution Specific styles*/
.artist__photo_updateBlock {
  background-position: center center !important; 
  background-blend-mode: luminosity !important; 
  background-size: 100% !important; 
  background-repeat: no-repeat !important; 
}
.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box h3, .small-box p {
  z-index: 5;
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box>.inner {
  padding: 10px;
}
.small-box .icons {
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0,0,0,0.15);
}
.small-box:hover .icons {
  font-size: 95px;
}
.small-box>.small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}
.boxed { 
  border-top: 5px solid #d2d6de; 
  padding: 0px !important;
}
.box-header.with-border {
  border-bottom: 1px solid #f4f4f4;
}
.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}
