<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <title>{$site_title} </title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'> 
    
    <!-- Shortcut Icon -->
    <link rel="shortcut icon" href="{$favicon}">
    
    <link href="{$full_template_url}/super/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/uploader.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/super/css/style.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/soundcloud.mixins.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/ionicons.css" rel="stylesheet" type="text/css"> 
    <link href="{$full_template_url}/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/jquery.tag-editor.css" rel="stylesheet" type="text/css"> 
    <link href="{$full_template_url}/css/dropzone.css" rel="stylesheet" type="text/css">
    <link href="{$full_template_url}/css/morris.css" rel="stylesheet" type="text/css">

    <script src="{$full_template_url}/js/jquery.js"></script>
    <script src="{$full_template_url}/js/jquery-ui.min.js"></script>
    <script src="{$full_template_url}/js/jquery.caret.min.js"></script> 
    <script src="{$full_template_url}/js/dropzone.js"></script>
    <script src="{$full_template_url}/js/uploader.js"></script>
    <script src="{$full_template_url}/js/raphael.min.js"></script>
    <script src="{$full_template_url}/js/morris.min.js"></script>
    <script src="{$full_template_url}/js/jquery.tag-editor.min.js"></script>
 
    <script type="text/javascript">
        site_url = "{$site_url}";  
        timeoutInt = {$timeout_intval};
        template_url = "{$site_url}/{$template_url}";
    </script> 
  </head>
  <body>
    
    <!-- Header has to go in here --> 
    {$super_header}
    
    <!-- Page content has to go in here --> 
    {$content}

    <!-- Footer has to go in here --> 
    {$super_footer}

    <script src="{$full_template_url}/js/clipboard.js"></script> 
    <script src="{$full_template_url}/js/scripts.js"></script>
    <script src="{$full_template_url}/js/functions.js"></script>
    <script src="{$full_template_url}/js/multi_uploader.js"></script>
    <script src="{$full_template_url}/js/hovercards.min.js"></script>
    <script src="{$full_template_url}/js/notify.js"></script>
    <script src="{$full_template_url}/js/popper.js"></script>
    <script src="{$full_template_url}/js/bootstrap.js"></script>
    <script src="{$full_template_url}/super/js/mobile-nav.js"></script>
  </body>
</html>
